
.devbar-wrapper {
    height: 100%;

    .current-breakpoint {
        font-size: 25px;
        margin: 7px;
        display: inline-block;
        font-weight: 700;
    }

    .breakpoints {
        height: 40px;
        
        button {
            height: 40px;
            text-transform: uppercase;
            cursor: pointer;
            display: inline-block;
            position: absolute;
        }
    }
    .dev-frame {
        border: solid 1px grey;
        height: 100%;
    }
}